<%- include('global/base.ejs') %>
<div class="container">
  <%- include('components/topbar.ejs') %>
</div>
<%- include('partials/hero.ejs') %>
<footer class="footer">
  <div class="content has-text-centered">
      <p>
          &copy; <%= new Date().getFullYear() %> Infinite Techs
      </p>
  </div>
</footer>

<%- include('global/endbase.ejs') %>


